* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    
}

.conteiner-left {
    display: inline-block;
    width: 50%;
    padding-left: 10px;
    position: relative;
    
}

.conteiner-right {
    display: inline-block;
        margin-top: 100px;
}

img {
   position: relative;
    margin-left: 240px;
    margin-top: 10px;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    width: 582px;
    letter-spacing: 0.596px;

}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    width: 493px;
    margin: 55px 0;
    letter-spacing: 0.5px;
    
}

.button-more {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.button-more: hover{
    opacity: .8;
}

a{
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.875px;
    margin: 47px 0 80px 32px;
    cursor: pointer;
    text-decoration: none;
    
}


    header{
        margin: 47px 0 200px 42px;
    }

    .button-wid{
        border-radius: 6px;
        border: 1px solid #4CB538;
        background: #6FBF44;
        width: 124px;
        height: 51px;
        flex-shrink: 0;
        margin-left: 32px;
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
    }

    @media screen and (max-width: 1400px) {

        .conteiner-left: {
           display: block;
           height: auto;
           width: 100%;
           position: relative;
        }

        .conteiner-right {
            width: 100%;
            height: 30%;
            padding: 0;
            margin-top: -20px;
             position: relative;
            top: -50px;

        }



       img {
            position: fixed;
            bottom: 0;
            left: 40%;
            transform: translateX(-50%);
             max-width: 90%;
             margin: 10px 0px  20px 50px;
            
}

        
        a{
            display: none;
        }  
        
        h1 {
            color: #161A49;
            text-align: center;
            font-size: 30px;
            line-height: 0px; 
            letter-spacing: 0.596px;
            width: auto;
            margin: 58px 50px 0 50px;
        }
        
        p {
            color: #4B505A;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0.5px;
             width:382px;
             margin-left: 4%;
           
        }

        .button-more{ 
            display: block;
            margin: 0 auto;
            margin-top: 40px;
            cursor: pointer;
        }

        .button-wid {
        position: fixed;
        top: 20px;
        right: 20px;
        }
    }

